.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: wrap;
}

figure.product {
  position: relative;
  margin: 10px;
  min-width: 220px;
  max-width: 510px;
  width: 100%;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.product img {
  max-width: 100%;
  vertical-align: top;
  max-height: 200px;
}

figure.product p {
  height: 200px;
}

figure.product p:hover,
img:hover,
a:hover {
  cursor: pointer;
}
