.HeroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 100px;
}

#HeroTitle {
  max-width: 9ch;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
}

#HeroDescription {
  max-width: 20ch;
  margin-bottom: 100px;
}

#link {
  color: white;
}
