:root {
  --main-white: #FFFFFF;
  --white2: #F4F4F4;
  --white3: #F0F4F7;
  --white4: #FAFAFA;
  --main-black: #2B2B2B;
  --black2: #030303;
  --lg-black: #434343;
  --purple-gr: linear-gradient(to right, #4E2686, #6641CA);
  --purple-bg: #5932A5;
  --purple: #633AB8;
  --purple2: #5A32A6;
  --purple3: #5932A5;
  --purple4: #6641CA;
  -orange: #E68818;
  -red: #F9655E;
  --grey: #CCCCCC;
  --grey2: #D7D7D7;
  --grey-dark: #666666;
}

$purple5: #4E2686;
