.container {
  background-color: rgb(0, 0, 0);
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h5 {
  font-weight: bold;
}

.text {
  border-left: solid white 3px;
  padding: 10px;
}
